body{
    background-color: beige;
}

h2{
    text-align: center;
    color:darkkhaki;
}
div{
    border: 2px solid powderblue;
    text-align: left;
    padding: 3%;
    margin: 30%;
    background-color:antiquewhite;
}
